body {
	padding: 5%;
	font-size: 200%;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

h1 {
	font-size: 350%;
	font-family: 'Adamina', serif;
}

.small {
	width: 20%;
	height: 20%;
	border-radius: 50%;
}

.links {
	padding: 15px;
	font-size: 20px;
}

h1.quote {
	padding: 1%;
	font-size: 200%;
}

a:hover {
	color: #ffdd99;
	text-decoration: none;
}

footer {
	font-size: 80%;
}

footer.home {
	padding: 3%;
}

span.glyphicon {
	font-size: 85%;
	padding: none;
}