body {
	color: white;
	background-color: rgb(196, 111, 133);
	margin-left: 6%;
	margin-right: 6%;
	margin-top: 4%;
	margin-bottom: 4%;
	padding: 5%;
	font-size: 200%;
	font-family: 'Helvetica Neue';
	font-weight: lighter;
	letter-spacing: 1px;
}

h1 {
	font-size: 350%;
}

div {
	padding: .5em;
}

span.bold {
	font-weight: normal;
}

a {
	color: white;
	text-decoration: underline;
}

a:hover {
	color: white;
}

footer {
	font-size: 80%;
}

footer a {
	font-weight: normal;
}
